<div class="container-fluid d-flex flex-column p-0 mx-0 align-items-center">
    <app-navbar-adm class="w-100"></app-navbar-adm>
    <div *ngIf="produto" class="container conteudo d-flex justify-content-between align-items-center flex-column m-0 mt-3">
        <div class="container d-flex mt-5 mb-3">
            <app-botao-confirmar texto="Voltar" variant="voltar" (click)="voltar()"></app-botao-confirmar>
        </div>        
        <div class="container d-flex flex-column align-items-center justify-content-center" style="max-width: 500px;">
              <app-img-selecionavel [(backgroundImage)]="produto.url"></app-img-selecionavel>
            <div class="conteudo container d-flex flex-column gap-2">
                <label class="fw-bold fs-5 mt-2">Nome</label>
                <input [(ngModel)]="produto.titulo" class="input-texto w-100 mt-2 fs-5" placeholder="X-Pokémon">
                <label class="fw-bold fs-5 mt-2">Categoria</label>
                <div class="position-relative input-texto w-100 d-flex">
                    <select class="input-opcao pe-5 fs-5">
                        <option *ngFor="let categoria of listaCategorias" [value]="categoria.nome">
                            {{ categoria.nome }}
                        </option>
                    </select>
                    <img src="assets/icones/down.svg" alt="seta" class="icone-select">
                </div>
                <label class="fw-bold fs-5 mt-2">Descrição</label>
                <textarea 
                    class="input-texto-alto input-texto w-100 fs-5" 
                    oninput="this.style.height='auto'; this.style.height=this.scrollHeight + 'px'"
                    placeholder="Uma verdadeira explosão de sabores..."
                    [(ngModel)]="produto.descricao"
                ></textarea>
                <label class="fw-bold fs-5 mt-2">Valor</label>
                <div class="input-valor pe-0 mt-2 w-100 d-flex align-items-center justify-content-between">
                    <span class="fs-5">R$</span>
                    <input [(ngModel)]="produto.valor" class="input-texto flew-grow-1 fs-5 w-100" style="text-align:right;padding-right:1rem;"  type="number" placeholder="0,00" step="any">
                </div>
            </div>
        </div>
        <div class="container pb-5 mt-5" style="max-width: 500px;">
            <app-botao-confirmar
                texto="Salvar"
                class="ativado w-100"
            ></app-botao-confirmar>
        </div>
    </div>
</div>