html, body {
  height: 100%;
  margin: 0;
}
.container-fluid{
    min-height: 100vh;
}
h3{
    font-family: "Atma",system-ui;
    font-weight: 600;
    font-style: normal;
}
.div_botao{
    border: 0.05rem solid #d0d0d0;
    padding: 0.2rem 1rem;
}
.div_botao:focus-within {
    border: 0.13rem solid #fb89cd8d;
}
.input_botao:hover,:active{
    border: none;
}