.container-fluid{
    height: 100vh;
}
.conteudo{
    height: 100%;
    max-width: 500px;
}

.texto {
  text-align: justify;     
  display: block;           
  margin: 0 auto;          
  width: 100%;              
}

.titulo{
  text-align: center;
  display: block;
}
.ativo{
    border-radius: 0.5rem;
    border: none;
    display: flex;
    width: 100%;
    background-color: var(--color-primary);
    color: #fefefe;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
}
.desativado{
    border-radius: 0.5rem;
    border: 0.05rem solid var(--color-border);
    display: flex;
    width: 100%;
    background-color: #fefefe;
    color: #1e1e1e;
    padding: 0.5rem;
    font-size: 1.2rem;
}
.ativo:hover{
    background-color: var(--color-accent);
}
.desativado:hover{
    background-color: #ebe6e6;
}