h3{
    color: #1e1e1e;
}
p{
    color: var(--color-primary);
}
.card{
    cursor: pointer;
    user-select: none;
    animation: fromBottom 1s alternate;
    width: 12rem;
    overflow: hidden;
    height: 15rem;
    box-shadow: 0 0 4px 0 var(--color-border);
}
.card img{
    user-select: none;
    -webkit-user-drag: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.indisponivel{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
@media(max-width:720px) {
    .card{
        width: 11rem;
        height: 14rem;
    }
    .card h3{
        font-size: 0.6rem;
    }
    .card p{
        font-size: 0.5rem;
    }
    .fs-5{
        font-size: 1rem !important;
    }
}

.card:hover{
    box-shadow: 0 0 10px 0 var(--color-border);
}
@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translateY(300px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}

