.container-fluid{
    height: 100vh;
}
.conteudo{
    height: 100%;
}
.input-texto{
    border: 0.05rem solid var(--color-border);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    height: 2rem;
}