<div class="container-fluid m-0 p-0 d-flex flex-column align-items-center" style="min-height: 100%;">
    <app-navbar
        class="w-100"
        [lista]="listaCategorias"
    ></app-navbar>
    <div class="overlay" *ngIf="mostrarModal" (click)="fecharModal()"></div>
    <div class="modal-container" *ngIf="mostrarModal">
        <app-detalhes 
        [produto]="produtoSelecionado"
        (fechar) = "fecharModal()">
    </app-detalhes>
    </div>
    @if(listaCategorias.length==0){
        <div class="w-100 d-flex flex-column align-items-center py-5">
            <img class="d-flex" src="assets/icones/vazio.jpeg" style="height:10rem;width: 10rem;">
            <h3 class="mt-4">Nada aqui!</h3>
        </div>
    }@else{
        @for(categoria of listaCategorias; track $index) {
        <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scrool="true"  class="mt-2 scrollspy-example bg-body-tertiary p-0 rounded-2 w-100" tabindex="0">
            @if(categoria.produtos.length>0){
                <section id={{categoria.nome}} class="p-0">
                @if ($index%2===0){
                    <div class="align-items-center d-flex w-100 d-flex justify-content-center">
                        <img class="cat-img_direita" src="{{caminho}}{{categoria.url_imagem}}" alt="{{categoria.nome}}" style="width:5rem;">
                        <p class="d-flex justify-content-center text-center fs-5 w-100 fw-bold" style="margin-left: -5rem;">{{categoria.nome}}</p>
                    </div>
                }
                @else{
                    <div class="d-flex w-100 align-items-center">
                        <p class="d-flex justify-content-center text-center fs-5 w-100 fw-bold w-100" style="margin-right: -5rem;">{{categoria.nome}}</p>
                        <img class="cat-img-esquerda" src="{{caminho}}/{{categoria.url_imagem}}"  alt="{{categoria.nome}}" style="width:5rem;">
                    </div>
                }
                <div #scrollContainer class="container produtos d-flex gap-2 overflow-auto py-3" style="max-width: 1200px;">
                @for(produto of categoria.produtos; track $index){
                    <app-card-produto
                        url="{{produto.url_imagem}}"
                        titulo="{{produto.nome}}"
                        [valor]=produto.valor
                        (click)="abrirModal(produto)">
                    </app-card-produto>
                }
                </div>
            </section>
            }
        </div>
        }   
    }
    <app-footer class="mt-5 w-100"></app-footer>
</div>