:root {
  --color-primary: #F3316B;   /* azul */
  --color-accent: #e91e63;    /* rosa */
  --color-warn: #f44336;      /* vermelho */
  --color-on-primary: white;   /* cor do texto em cima do primary */
  --color-border: rgb(168, 163, 163); /*cor para bordas */
  --color-alert: rgb(253, 198, 19); /*cor para bordas */
}